.submit-form {
  max-width: 400px;
  margin: auto;
}

.body{
  /* background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb); */
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); 
  height: 100vh;
}