<div class="bodybg" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark "  style="margin-bottom: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" >Dynamic CMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userSignUp">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userSignIn">SignIn</a>
        </li> 
       </ul>
    </div>
  </div>
</nav>



<div class="container mt-4" style="width: 500px ; padding: 30px; background-color: rgba(59, 10, 10, 0.918)">
  <div class="card">
    <h2 class="text-center" >User Registation</h2>
 <form  >
    <div class="form-group" style="padding: 20px 15px 0;">
        <label>User Name</label>
        <input type="text"  [(ngModel)]="userName" [ngModelOptions]="{standalone:true}" class="form-control"  aria-describedby="emailHelp" placeholder="User Name" >
      </div>
    <div class="form-group" style="padding: 10px 15px 0;">
      <label >Email address</label>
      <input type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
      <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" style="padding: 10px 15px 0;">
      <label >Password</label>
      <input type="password"  [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control"  placeholder="Password">
    </div>
    <button style="margin-left: 200px; margin-bottom: 10px;" (click)="userSignUp()"  type="submit" class="btn btn-primary ">Submit</button>
  </form>
</div>
</div>
</div>