<div class="body">
<div class="navigation-bar" style="margin-bottom: 30px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container-fluid">
       <a class="navbar-brand" >Dynamic CMS</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/userPage" class="nav-link" >User Page</a>
          </li>
           <li class="nav-item">
             <a routerLink="/add" class="nav-link">Add</a>
           </li>
           <li class="nav-item">
            <a routerLink="/publish" class="nav-link">Tutorials</a>
          </li>
          </ul>
       </div>
       <li class="nav-item">
        <a routerLink="/" class="nav-link" style="color: gray;">logout  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/></svg></a>
      </li>
     </div>
   </nav> 
 </div>
 <div class="landing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="main-text my-5">
          <!-- <h1 id="Greeting" class="text-warning">Good Morning</h1> -->
          <h2 style="font-size: 35px;">Welcome To <span class="text-white">User page </span></h2>
          <p class="description " >Welcome to Your Exclusive User Space! Here, you hold the power to share your expertise with the world. Embrace the <span style="color: rgb(236, 203, 203);">'Add' button </span> as your gateway to publishing your tutorials, engaging with our community, and leaving an indelible mark in the realm of knowledge sharing. Unleash your creativity, ignite curiosity, and make an impact as you contribute to our ever-expanding library of valuable insights. We're excited to be part of your publishing journey</p>
          <!-- <button type="button" class="btn btn-link bg-warning text-decoration-none"><a href="login.html"
              class="text-decoration-none text-dark" target="_blank">Sign In</a>
          </button> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="main-img my-5">
          <img src="/assets/userPage.jpg" alt="" style="width: 450px; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>